body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-size: cover;
  /*background-image: url('http://images.rapgenius.com/2f3f5a8e53f22a2ec3725da90ccb3e6a.640x360x16.gif');*/
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpButton, .danceButton {
  padding:5px 12px;
  float:right;
  width: 165px;
}
.title-grey {
  color: #777;
  border-top-color: #777;
  border-top: 10px;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title, .danceButton {
  background-color: #777;
  height: 27px;
  padding: 5px 10px 0px 10px;
}
.dancer{
  border:10px solid;
  border-color: red;
  border-radius: 50%;
  position:absolute;
}

img{
  position: absolute;
  height: 10%;
  width: 10%;
}

.shaking{
  animation-name: shake;
  animation-duration: 13s;
  animation-timing-function: cubic-bezier(.3,.1,.2,1);
  animation-fill-mode: both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

iframe {
  display: none;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-12px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(14px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-16px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(18px, 0, 0);
  }
}

.rotating{
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1,1,1,1);
  animation-fill-mode: both;
}

@-webkit-keyframes rotate {
  from { -webkit-transform: rotate(0deg) }
  to { -webkit-transform: rotate(360deg) }
}